@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*{ 
  color: #00008B;
  text-align: center;
}
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #ddd6f3 , #faaca8);
  text-align: center;

}
.container{
  max-width:100%;
   margin: 0 auto 0 auto;
  
  
}

label {
   display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    
 
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    
  
}
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
form{
  background-color: rgb(0,128,128, .2);
  padding: 10px 10px;
  border-radius: 0.25rem;
}
.form-group {
  margin: 0 10px 0 10px;
  padding: 10px 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0 10px 0 10px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

    .submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: green;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;

}
select, input, textarea, button{
            box-sizing: border-box;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
